.surface {
  /* Assumption: Matching style names to Figma makes reference easier between code and design. In a real implementation, I would setup CSS variable names for a reference using the Design System in Figma as a source of truth. */
  background: linear-gradient(
      0deg,
      rgba(65, 222, 180, 0.05),
      rgba(65, 222, 180, 0.05)
    ),
    theme("colors.neutral.10");
  width: 100%;
  height: 100%;
}

.input_layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px 0px 6px;
  gap: theme("gap.2");

  height: 48px;
  width: 100%;

  /* Assumption: Width is copy/pasted from Figma but on smaller screen this width is too large. A more dynamic width calculation is needed. A min width was applied with Tailwind for md+ screens and 100% is being used so the input looks better on small screens */
  /* width: 480px; */

  background: linear-gradient(
      0deg,
      rgba(65, 222, 180, 0.14),
      rgba(65, 222, 180, 0.14)
    ),
    theme("colors.neutral.10");
  border-radius: 24px;
}

/* Assumption: Font Weight looks too thick but this style is copied from Figma. Font weight may need to be customized to the design system. THis best done in the Tailwind config skipping this step for now for time reasons.*/
.input {
  background: transparent;
  width: 100%;

  /* M3/body/large */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* M3/sys/dark/outline */
  color: theme("colors.neutral.60");
}
